<!doctype html>
<html ng-app="purchaseApp">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="syles.css">
</head>

<body ng-controller="ExampleController">

    <div class="page-header">

        <h1> Список покупок </h1>
    </div>


    <div ng-controller="ExampleController" class="panel">

        <div class="form-inline">
            <form ng-submit="submit()">

                <div class="form-group">
                    <input class="form-control" type="text" ng-model="text" name="text" placeholder="Название" />
                </div>
                    
                    <input type="submit" id="submit" value="Submit"/>
                    

                <div>
                    <label>
                        <input class="form-control" type="checkbox" ng-model="all" />All todo
                    </label>
                    <label>
                        <input class="form-control" type="checkbox" ng-disabled="all" ng-value="false" ng-model="options.done" />Done todo
                    </label>
                </div>
                
            </form>
        </div>

        <table class="table">

            <thead>

                <tr>
                    <th>Задание</th>
                    <th>ДатаНачала</th>
                    <th>ДатаВыполнения</th>
                    <th>Выполненно</th>
                </tr>
            </thead>

            <tbody>

                <tr  ng-repeat="item in items | filter: text | filter:(!all || '') && options | orderBy:'purchase'">

                    <td><input class="form-control" type="text" ng-model-options="{ updateOn: 'blur' }" ng-model="item.purchase"  ng-readonly="item.status" ng-dblclick="Rename($event,item)"
                            ng-change="onBlur($event,item)"></td>
                    <td><p ng-bind="item.dateS | date:'MM/dd/yyyy HH:mm:ss'"></p></td>
                    <td><p ng-bind="item.dateE | date:'MM/dd/yyyy HH:mm:ss'"></p></td>
                    <td><input type="checkbox" ng-model="item.done" ng-change="change(item)"></td>
                    <td>
                        <jk-rating-stars max-rating="6"  rating="item.rating" on-rating="onRating(rating,item)">
                        </jk-rating-stars>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="node_modules\angular-jk-rating-stars\dist\jk-rating-stars.min.js"></script>
    <link href="node_modules\angular-jk-rating-stars\dist\jk-rating-stars.min.css" rel="stylesheet" type="text/css" /></link>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src=app.js></script>
    <script src=controler.js></script>
     <script src=factory.js></script>

</body>

</html>