#form-control[readonly] {
    background-color: rgba(0, 0, 0, .0001);
}

#form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 0px;
}

input[type=text] {
    color: black;
    border: none;
    background-color: #f5f5f5;
}

md-input-container {
    margin-bottom: 0px;
    margin-left: 6px;
}

.md-button {
    margin-top: 18px;
    vertical-align: top;
}

form {
    background: linear-gradient(to bottom, rgba(195, 217, 255, 1) 5%, rgba(152, 176, 217, 1) 100%);
}

.checkbox1 {
    margin-left: 6px;
}

input[type=text]:hover {
    background-color: #f5f5f5;
}

form {
    background: linear-gradient(to bottom, rgba(195, 217, 255, 1) 5%, rgba(152, 176, 217, 1) 100%);
}

.checbox1 {
    float: left;
}

.tabsdemoDynamicHeight md-content {
    background-color: transparent !important;
}

.tabsdemoDynamicHeight md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1;
}

.tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
    background: white;
}

.chipsdemoBasicUsage .errors {
    font-size: 12px;
    color: #dd2c00;
    margin-top: 10px;
}

.chipsdemoBasicUsage .custom-chips md-chip {
    position: relative;
}

.chipsdemoBasicUsage .custom-chips md-chip .md-chip-remove-container {
    position: absolute;
    right: 4px;
    top: 4px;
    margin-right: 0;
    height: 24px;
}

.chipsdemoBasicUsage .custom-chips md-chip .md-chip-remove-container button.vegetablechip {
    position: relative;
    height: 24px;
    width: 24px;
    line-height: 30px;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    border: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
    transition: background 0.15s linear;
    display: block;
}

.chipsdemoBasicUsage .custom-chips md-chip .md-chip-remove-container button.vegetablechip md-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) scale(0.7);
    color: white;
    fill: white;
}

.chipsdemoBasicUsage.custom-chips md-chip .md-chip-remove-container button.vegetablechip:hover, .chipsdemoBasicUsage .custom-chips md-chip .md-chip-remove-container button.vegetablechip:focus {
    background: rgba(255, 0, 0, 0.8);
}

.chipsdemoBasicUsage .custom-chips md-chips-wrap.md-removable md-chip md-chip-template {
    padding-right: 5px;
}

.toolbardemoScrollShrink .face {
    width: 48px;
    margin: 16px;
    border-radius: 48px;
    border: 1px solid #ddd;
}

.red {
    background: red;
}

.blue {
    background: blue;
}

.orange {
    background: orange;
}

md-chips md-chip {
    color: white;
}